{%- unless section.settings.hide_homepage and template == 'index' -%}
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
    {% if block.settings.color_scheme == 'custom' %}
      {% assign foreground_color_red = block.settings.custom_text_color | color_extract: 'red' %}
      {% assign foreground_color_green = block.settings.custom_text_color | color_extract: 'green' %}
      {% assign foreground_color_blue = block.settings.custom_text_color | color_extract: 'blue' %}
      {% style %}
        .announcement-bar-custom-{{ block.id }} {
          --color-foreground: {{ foreground_color_red }}, {{ foreground_color_green }}, {{ foreground_color_blue }};
          --color-background: {{ block.settings.custom_background_color }};
          --gradient-background: {{ block.settings.custom_background_color }};
        }
      {% endstyle %}
    {% endif %}
      <div class="announcement-bar color-{{ block.settings.color_scheme }} gradient{% if block.settings.color_scheme == 'custom' %} announcement-bar-custom-{{ block.id }}{% endif %}" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <div class="page-width">
                <p class="announcement-bar__message {{ block.settings.text_alignment }} h3">
                  <span>{{ block.settings.text | escape }}</span>
                  {%- if block.settings.link != blank -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                </p>
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "checkbox",
      "label": "Hide on homepage",
      "id": "hide_homepage",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
          "type": "header",
          "content": "Custom color scheme",
          "info": "This will work when you select Custom from color scheme"
        },
        {
          "type": "color",
          "label": "Custom bacground color",
          "id": "custom_background_color",
          "default": "#333333"
        },
        {
          "type": "color",
          "label": "Custom text color",
          "id": "custom_text_color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
