{{ 'component-gif-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    background-color: {{ section.settings.section_background_color }};
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media only screen and (min-width: 640px) and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- for block in section.blocks -%}
    {%- if block.type == 'text' and block.settings.text_background_image != blank -%}
      .video-with-text__content--{{ block.id }} {
        background-image: url('{{ block.settings.text_background_image | image_url: width: 1500 }}');
        background-size: {{ block.settings.background_size }};
        background-position: {{ block.settings.background_position }};
        background-repeat: no-repeat;
        position: relative;
      }
      .video-with-text__content--{{ block.id }}::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba({{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }}, {{ block.settings.overlay_opacity | divided_by: 100.0 }});
        border-radius: inherit;
        z-index: 0;
      }
      .video-with-text__content--{{ block.id }} > * {
        position: relative;
        z-index: 1;
      }
    {%- endif -%}
  {%- endfor -%}
{%- endstyle -%}

{% if section.settings.color_scheme == 'custom' %}
  {% assign foreground_color_red = section.settings.custom_text_color | color_extract: 'red' %}
  {% assign foreground_color_green = section.settings.custom_text_color | color_extract: 'green' %}
  {% assign foreground_color_blue = section.settings.custom_text_color | color_extract: 'blue' %}
  {% style %}
    #shopify-section-{{ section.id }} .color-custom {
      --color-foreground: {{ foreground_color_red }}, {{ foreground_color_green }}, {{ foreground_color_blue }};
      --color-background: {{ section.settings.custom_background_color }};
      --gradient-background: {{ section.settings.custom_background_color }};
      color: rgb({{ foreground_color_red }}, {{ foreground_color_green }}, {{ foreground_color_blue }});
    }
  {% endstyle %}
{% endif %}

<div class="video-with-text video-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
  <div class="video-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} video-with-text__grid--reverse{% endif %} page-width">
    <div class="video-with-text__media-item video-with-text__media-item--{{ section.settings.desktop_image_width }} video-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div
        class="video-with-text__media video-with-text__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.media_file != blank or section.settings.image != blank %}media{% else %}video-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank and section.settings.media_file == blank %}
          style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.media_file != blank -%}
          {%- assign file_extension = section.settings.media_file | split: '.' | last | downcase -%}
          {%- if file_extension == 'mp4' or file_extension == 'webm' or file_extension == 'mov' -%}
            <video 
              class="video-with-text__video"
              {% if section.settings.autoplay %}autoplay{% endif %}
              {% if section.settings.loop %}loop{% endif %}
              {% if section.settings.muted %}muted{% endif %}
              {% if section.settings.controls %}controls{% endif %}
              playsinline
              preload="metadata"
            >
              <source src="{{ section.settings.media_file }}" type="video/{{ file_extension }}">
              Your browser does not support the video tag.
            </video>
          {%- elsif file_extension == 'gif' -%}
            <img 
              src="{{ section.settings.media_file }}" 
              alt="{{ section.settings.media_alt | escape }}"
              class="video-with-text__gif"
              loading="lazy"
            >
          {%- endif -%}
        {%- elsif section.settings.image != blank -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
          {%- endcapture -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: loading: 'lazy', sizes: sizes, widths: widths, alt: section.settings.image.alt
          }}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="video-with-text__text-item grid__item">
      <div
        id="VideoWithText--{{ section.id }}"
        class="a11y_links video-with-text__content video-with-text__content--{{ section.settings.desktop_content_position }} video-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} video-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} video-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
      >
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <{% if block.settings.heading_tag != 'default' %}{{ block.settings.heading_tag }}{% else %}div{% endif %}
                class="video-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </{% if block.settings.heading_tag != 'default' %}{{ block.settings.heading_tag }}{% else %}div{% endif %}>
            {%- when 'caption' -%}
              <p
                class="video-with-text__text video-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div 
                class="video-with-text__text rte {{ block.settings.text_style }} video-with-text__content--{{ block.id }}" 
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div class="button-container">
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}

                {% if block.settings.second_button_label != blank %}
                  <a {% if block.settings.second_button_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.second_button_link }}"{% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}>
                      {{ block.settings.second_button_label }}
                  </a>
                {% endif %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gif with text",
  "class": "section custom-video-with-text",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "url",
      "id": "media_file",
      "label": "Upload video/GIF"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Fallback image",
      "info": "Used when no video/GIF is uploaded"
    },
    {
      "type": "text",
      "id": "media_alt",
      "label": "Media description",
      "info": "Describe the media for screen readers"
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay video",
      "default": true,
      "info": "Videos will autoplay muted by default"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop video",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "muted",
      "label": "Mute video",
      "default": true,
      "info": "Required for autoplay to work on most browsers"
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": "Show video controls",
      "default": false
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to media"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Media height"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Desktop media width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Media first"
        },
        {
          "value": "text_first",
          "label": "Text first"
        }
      ],
      "default": "image_first",
      "label": "Desktop layout"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top",
      "label": "Desktop content position"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Desktop content alignment"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "No overlap"
        },
        {
          "value": "overlap",
          "label": "Overlap"
        }
      ],
      "default": "no-overlap",
      "label": "Content layout"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Custom color scheme",
      "info": "This will work when you select Custom from color scheme"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "section_background_color",
      "default": "#DAE9CF"
    },
    {
      "type": "color",
      "label": "Text background color",
      "id": "custom_background_color",
      "default": "#DAE9CF"
    },
    {
      "type": "color",
      "label": "Text foreground color",
      "id": "custom_text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Media animation"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Mobile content alignment"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 130
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 40
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "liquid",
          "id": "heading",
          "default": "Video with text",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "default",
          "info": "Div is the default tag of the heading"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Caption"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Caption with letter spacing"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Text style"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Text size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with a video to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ],
          "default": "body",
          "label": "Text style"
        },
        {
          "type": "header",
          "content": "Background image settings"
        },
        {
          "type": "image_picker",
          "id": "text_background_image",
          "label": "Background image"
        },
        {
          "type": "select",
          "id": "background_size",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "auto",
              "label": "Auto"
            }
          ],
          "default": "cover",
          "label": "Background size"
        },
        {
          "type": "select",
          "id": "background_position",
          "options": [
            {
              "value": "center center",
              "label": "Center"
            },
            {
              "value": "top center",
              "label": "Top"
            },
            {
              "value": "bottom center",
              "label": "Bottom"
            },
            {
              "value": "left center",
              "label": "Left"
            },
            {
              "value": "right center",
              "label": "Right"
            }
          ],
          "default": "center center",
          "label": "Background position"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 30
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "First button link"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "Second button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gif with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}